.uploadInstruction {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mainInstruction {
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 6vh;
  display: flex;
  flex-grow: 0;
  justify-content: center;
}

.instructTitle {
  font-size: clamp(1.25rem, calc(3vw + 2vh), 2rem);
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5ch;
}

.dragDropNote {
  font-size: clamp(0.9rem, calc(0.9vw + 1vh), 2rem);
  font-weight: 300;
  color: var(--text-color);
  text-align: center;
}

.uploaderNote {
    font-size: clamp(0.6rem, 0.9vw, 0.9rem);
    padding: 0;
    margin: 0;
    color: var(--note-color);
    text-align: center;
  }

.uploadErrorIcon {
    width: clamp(1rem, calc(2vw + 2vh), 2rem);
    height: clamp(1rem, calc(2vw + 2vh), 2rem);
    fill: var(--text-color);
}