.home-page {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background: none;
  z-index: 1;
}

.loudornot-maincontainer {
  top: 0;
  bottom: 0;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  flex-direction: column;
  margin: 0 10%;
  box-sizing: border-box;
}

.page-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-gradient {
  position: relative;
  background-image: var(--base-gradient);
  font-size: clamp(2rem, calc(7vw + 4vh), 6rem);
  background-clip: text;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  filter: drop-shadow(0 2px 2px rgba(var(--text-shadow-color-rgb), 0.1));
  background-size: 200% 100%;
  background-repeat: repeat;
  background-position: 0% 50%; 
}

@keyframes gradientWave {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 200% 50%;
  }
}

.title-norm {
  font-size: clamp(0.8rem, calc(2vw + 1vh), 3rem);
  font-weight: 200;
  text-align: center;
  color: var(--text-color);
  margin: 0;
  text-shadow: 0 1px 1px rgba(var(--text-shadow-color-rgb), 0.2);
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.loudornot-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 80vw;
}

.loudornot-btnlink {
  color: inherit;
  text-decoration: none;
  width: 20%;
}

.loudornot-container span {
  padding: clamp(0.7rem, calc(1vw + 1vh), 1rem) 0;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.7rem, calc(1vw + 1vh), 2rem);
  border: 1px solid rgba(var(--text-color-rgb), 0.4);
  box-shadow: 0 1px 5px rgba(var(--subtle-glow-rgb), 0.4);
  border-radius: 96px;
  background: var(--background-color);
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
  opacity: 0;
}

.loudornot-btnlink:hover span {
  background: transparent;
  border-color: rgba(var(--bg-color-rgb), 1);
  box-shadow: 0 2px 4px rgba(var(--subtle-glow-rgb), 0.5);
  z-index: 1;
}

.hoveranimation {
  transition: transform 0.3s ease-out;
}

.hoveranimation:hover {
  transform: translateY(-5px) scale(1.02);
}

.hoveranimation:active {
  transform: translateY(2px) scale(1);

}

.hoveranimation:active span {
  box-shadow: 0 0px 4px rgba(var(--subtle-glow-rgb), 0.2);
}

.loudornot-container span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--light-hover-gradient);
  opacity: 0;
  transition: opacity 0.3s ease-out;
  border-radius: 96px;
  z-index: -1;
}

.loudornot-btnlink:hover span::before {
  opacity: 1;
}

.loudornot-container span::after {
  content: "";
  position: absolute;
  inset: 0px;
  border: 2px solid transparent;
  border-radius: 96px;
  pointer-events: none;
  z-index: 1;
}

.loudornot-container span:hover::after {
  border-color: rgba(var(--text-color-rgb), 1);
  box-shadow: inset 0 0 8px 2px rgba(var(--border-color-rgb), 0.3);
  animation: borderDraw 0.3s ease-out forwards;
}

.loudornot-container span:not(:hover)::after {
  border-color: rgba(var(--text-color-rgb), 0.4);
  box-shadow: inset 0 0 0 0 rgba(var(--border-color-rgb), 0);
  animation: borderDrawReverse 0.3s ease-out forwards;
}

@keyframes borderDraw {
  0% {
      clip-path: inset(0 0 110% 0);
  }

  100% {
      clip-path: inset(0 0 -10% 0);
  }
}

@keyframes borderDrawReverse {
  0% {
      clip-path: inset(0 0 -10% 0);
  }

  100% {
      clip-path: inset(0 0 110% 0);
      opacity: 0.2;
  }
}

@media (max-width: 768px), (orientation: portrait) {
  .convertifile-maincontainer {
      flex: 1;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin: 0 5%;
  }

  .convertifile-container {
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .background-zoom {
      background: var(--mainpage-bg) center center / cover no-repeat;
  }
  .perspective-wrapper {
      perspective: 1500px;
      transform: scaleX(1.2) scaleY(1.1);
  }
  .animate-background {
      animation: dramaticZoomInMobile 2s cubic-bezier(0.3, 0, 0.1, 1) forwards;
  }
}

/*------------------------------*/
/* Animation classes */
.text-animate {
  opacity: 0;
  transform: translateY(20px);
}

/* Keyframes for the text animation */
@keyframes textPop {
  0% {
      opacity: 0;
      transform: translateY(40px) scale(1.01);
  }

  100% {
      opacity: 1;
      transform: translateY(0) scale(1.0);
  }
}

/* Keyframes for the span fade-in */
@keyframes spanFadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px) scale(1.01);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* When elements are in view, trigger the animation */
.page-title .text-animate:nth-child(1).in-view {
  animation: textPop 0.3s cubic-bezier(0.2, 0, 0.32, 1) forwards;             
}
.page-title .text-animate:nth-child(1).in-view:hover {
  animation: textPop 0.3s cubic-bezier(0.2, 0, 0.32, 1) forwards,   
  gradientWave 3s ease-in-out infinite;           
}

.page-title .text-animate:nth-child(2).in-view {
  animation: textPop 0.3s cubic-bezier(0.2, 0, 0.32, 1) forwards;
  animation-delay: 0.2s;
}

.title-status.in-view {
  animation: textPop 0.3s cubic-bezier(0.2, 0, 0.32, 1) forwards;
  animation-delay: 0.4s;
}

/* Staggered animations for each span inside the container */
.loudornot-container .loudornot-btnlink:nth-child(1) span.in-view {
  animation: spanFadeIn 0.3s cubic-bezier(0.2, 0, 0.32, 1) forwards;
  animation-delay: 0.5s;
}

.loudornot-container .loudornot-btnlink:nth-child(2) span.in-view {
  animation: spanFadeIn 0.3s cubic-bezier(0.2, 0, 0.32, 1) forwards;
  animation-delay: 0.6s;
}

/* Aurora fade-in animation */
.aurora-fade-in {
  transition: opacity 0.6s ease-out;
}

@media (max-width: 768px) and (orientation: portrait) {
  .loudornot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .loudornot-maincontainer {
    gap: 6vh;
    margin: 0 5%;
  }

  .loudornot-container {
   width: 85vw;
  }

  .loudornot-btnlink {
    color: inherit;
    text-decoration: none;
    width: 100%;
  }
  

}